@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

.branding { font-family: 'Ubuntu', bold cursive; font-size: 2em; color: darkslategray;}

html,body {
    height:100%;
    font-family: 'Ubuntu Mono', monospace;
}

.button {
  border-radius: 100px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.details {
    padding: 2px 16px;
}
.details p {
    margin-left: 5%;
}

.tab button {
  font-size: 16px;
  font-family: 'Ubuntu Mono', monospace;

  border-radius: 50%;
  display: inline;

  width: 32px;
  height: 32px;
  line-height: normal;
  padding: 1px 5px;
  margin: 5px;

  border: 1px solid;
  text-align: center;

  cursor: pointer;
  transition: 0.3s;
}

.tab button:hover {
  color: tomato;
  border: 1px solid;
  background-color: rgba(0,0,0,0.2);
}

.tab button.active {
  border: 1px solid;
  background-color: rgba(0,0,0,0.2);
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 32%;
}

@media only screen and (max-width: 1000px){
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 700px){
  .responsive {
    width: 99%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px){
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
